---
name: On Push

"on":
  push: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - run: make build

      - run: make docker
